* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    @include default-font;
}

a {
    color: $color-red;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}