*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "manrope";
    font-size: 16px;
    font-weight: 400;
    background: var(--color-white);
    color: var(--color-gray-900);
}