#signin {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    form {
        padding: 0 15px;
        width: 100%;
    
        @include md {
            padding: 0;
        }

        @include lg {
            width: 45%;
        }

        .content {
            display: grid;
            gap: 20px;


        }

        .forgot {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }


        .external-auth {
            text-align: center;

            p {
                font-weight: 700;
            }

            .social-auth {
                display: flex;
                justify-content: center;
                gap: 20px;

                button {
                    flex: 1;
                }
            }
        }
    }
}