header {
    padding: 1rem 0;

    .container {
        display: grid;
        align-items: center;

        grid-template-columns: 1fr auto;
        grid-template-areas:    "logo mobile"
                                "nav nav";

        @include lg {
            gap: 50px;
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav switch signin";
        }

        #logo {
            grid-area: logo;
        }
    
        #main-navbar {
            grid-area: nav;
            // display: none;
            height: 0%;
            overflow: hidden;
            gap: 20px;

            @include lg {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    
        #theme-mode {
            grid-area: switch;
            display: none;

            @include lg {
                display: block;
            }
        }
    
        #signin-up {
            grid-area: signin;
            display: none;

            @include lg {
                display: block;
            }
        }
    
        #mobile-button {
            grid-area: mobile;
            display: block;

            @include lg {
                display: none;
            }
        }
    }
}