@mixin input {
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid $gray-400;
    padding: 15px;
    border-radius: 8px !important;
    
    &::placeholder {
        color: $gray-400;
    }

    &.error {
        border: 1px solid $danger;
        position: relative;
    }

    &.success {
        border: 1px solid $success;
        position: relative;
    }
}

form {
    display: grid;
    gap: 10px;

    .content {
        display: grid;
        gap: 20px;
    }

    h1 {
        @include h1;
        line-height: 1;
    }

    p {
        @include text-m;
    }

    .input-group {
        width: 100%;
        margin-bottom: 10px;
    
        label {
            display: block;
            font-weight: 700;
            margin-bottom: 3px;
        }
    
        input {
            @include input;
        }    
        textarea {
            @include input;
            resize: none;
        }  

        span { display: none; }
        span:has(+input.error) {
            position: absolute;
            display: block;
            color: $danger;
            font-size: 0.8em;
            right: 5px;


            &::after {
                position: absolute;
                right: 5px;
                top: 45px;
                z-index: 10;
                font-size: 2em;
                display: block;
                content: '\2BBF';
            }
        }
        span:has(+input.success) {
            position: absolute;
            z-index: 10;
            right: 10px;
            bottom: 16px;
            font-size: 1.5em;
            display: block;
            color: $success;

            &::after {
                content: '\1F5F9';
            }
        }
    }

    .checkbox-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 5px 0 20px 0;
    
        input[type="checkbox"] {
            @include input;
            height: 20px;
            width: 20px;
        }

        span { display: none; }
        span:has(+input.error) {
            position: absolute;
            z-index: 10;
            right: 10px;
            bottom: 16px;
            font-size: 1.5em;
            display: block;
            color: $danger;

            &::after {
                content: '\2BBF';
            }
        }
        span:has(+input.success) {
            position: absolute;
            z-index: 10;
            right: 10px;
            bottom: 16px;
            font-size: 1.5em;
            display: block;
            color: $success;

            &::after {
                content: '\1F5F9';
            }
        }
    }

    hr {
        margin: 10px 0;
        color: $gray-500;
    }
}

